#usgscolorband,
#usgsfooter {
  display: none;
}

nav {
  background: #003366;
  height: 40px;
  position: relative;
  z-index: 10000;
}
nav ul {
  display: none;
  list-style: none;
  position: absolute;
  top: 40px;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
nav ul a {
  color: #003366;
  display: inline-block;
  height: 40px;
  width: 100%;
}
nav ul a:focus {
  background: #003366;
  color: #fff;
}
nav ul a li {
  border-bottom: 1px solid #bebebe;
  height: 20px;
  padding: 10px;
}
#desktopNav {
  width: 100%;
}
#owiLogoSmall {
  display: none;
}
#mobileBurger {
  position: absolute;
  left: 5px;
  top: 7px;
}

@media screen and (min-width: 768px) {
/*========usgs-header========*/
  #usgscolorband {
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 5.14em;
    min-height: 72px;
    background: #000;
    position: relative;
    z-index: 20002;
    display: block;
  }
  #usgsbanner {
    width: 100%;
    height: 72px;
  }
  #usgsidentifier {
    background-color: black;
    width: 178px;
    height: 5.14em;
    float: left;
  }
  #usgsidentifier img {
    border: none;
  }
  #usgsccsabox {
    float: right;
    background-color: #000000;
    min-height: 72px;
    width: 120px;
  }
  #usgsccsa {
    font: 1em/0.5em Verdana, Arial, Helvetica, sans-serif;
    height: 63px;
    padding-top: 9px;
  }
  #usgsccsa a:link,
  #usgsccsa a:visited {
    font: bold 1em/1.3em Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-left: 4px;
    text-decoration: none;
  }
  #usgsccsa a:hover {
    font: bold 1em/1.3em Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-decoration: underline;
    margin-left: 4px;
  }
  #usgsccsa a:active {
    font: bold 1em/1.3em Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-left: 4px;
    text-decoration: none;
  }
  
  /*========nav========*/
  nav {
    background: none;
    border-bottom: 1px solid #bebebe;
    margin-bottom: 10px;
  }
  nav ul {
    display: block !important;
    position: static;
    width: 525px;
    height: 40px;
    float: right;
    box-shadow: none;
  }
  nav ul a {
    width: 105px;
    text-align: center;
    display: block;
    float: left;
    font-weight: 300;
  }
  nav ul a:hover {
    background: #003366;
    color: #fff;
  }
  nav ul a li {
    border-bottom: none;
    padding: 8px 0 0 0;
  }
  #desktopNav {
    position: relative;
    width: 768px;
    height: 40px;
    margin: 0 auto;
  }
  #owiLogoSmall {
    display: block;
    width: 47px;
    position: absolute;
    top: 3px;
  }
  #mobileBurger {
    display: none;
  }
/*========usgs-footer========*/
  #usgsfooter {
    background: #fff;
    padding-bottom: 5px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    clear: both;
    margin: 0;
    display: block;
  }
  #usgsfooterbar {
    background-color: #666666;
    padding: 4px;
    margin: 0;
  }
  #usgsfooterbar a:link,
  #usgsfooterbar a:visited {
    margin-right: 40px;
    color: #ffffff;
    text-decoration: none;
  }
  #usgsfooterbar a:hover {
    margin-right: 40px;
    color: #ffffff;
    text-decoration: underline;
  }
  #usgsfooterbar a:active {
    margin-right: 40px;
    color: #ffffff;
    text-decoration: none;
  }
  #usgsfootertext {
    padding: 4px;
    margin: 0;
  }
  #usgsfootertext img {
    border: none;
    float: right;
    margin-right: 5px;
  }
}

@media screen and (min-width: 1025px) {
  #desktopNav {
    width: 960px;
  }
}