/*Header CSS*/
header{
	background:rgb(0,51,102);
	color:#fff;
	height:32px;
	padding:8px  0 0 10px;
	border-bottom:5px solid rgb(210,210,210);
	}
	
p {
  font-size:1.2em;
  line-height:1.5em;
}
header h3{
	padding-top:3px;
	font-size:0.9em;
	}
	
header img{
	float:left;
	margin-right:5px;
	width:80px;
	}
.exploreMore{
	border:1px solid #003366;
	padding:10px 10px 0 10px;
	width:30%;
	max-width:300px;
	min-width:200px;
	text-align:center !important;
	margin:20px auto 20px auto !important;
	}

.exploreMore img{
	width:100%;
	}	
.extraButton{
	background:#003366;
	color:#fff;
	padding:5px 15px;
	border:1px solid #003366;
	outline:none;
	font-size:.8em;
	margin:-10px 0 10px 0;
	}

.extraButton:hover{
	background:#fff;
	color:#003366;
	border:1px solid #003366;
	}
.contactScience {
  font-size: .8em;
}

a:link {
    color: #01b29F;
}
#teamFaces {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.teamFace {
  width: 150px;
  padding: 10px;
  text-align: center;
  
}
.teamFace img {
  width: 100%;
  border:1px solid white;
}	
.captionContainer{
  padding:15px;
  min-height:50px;
}

.caption{
  padding:15px;
  background:rgb(200,200,200);
  background:rgba(200,200,200,.5);
  font-size:.9em;
}

.insetPictureContainer{
  min-height:50px;
  margin-bottom:20px;
  text-align:center;
}

.insetPictureContainer img{
  width:100%;
  max-width:650px;
}

/*Intro*/
#intro{
	text-align:center;
	padding:20px;
	}
	
.svgFig{
  min-height:200px !important;
}
	
.svgFig, .svgSpanner {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.svgSpanner {
	min-width: 620px;
}
/*Keynote*/
#welcome-keynote,
#walleyeDecline-keynote,
#walleyeBass-keynote,
#lakeWarming-keynote,
#futureWarming-keynote,
#futureSuitability-keynote,
#fishManagement-keynote {
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	width: 100%;
	padding: 0;
	position:relative;
	}

.dimmer {
  background: rgba(0,0,0,.4);
  height: 100%;
}


#welcome-keynote {
  background-image: url('../images/welcome-bkg.png');
}

#walleyeDecline-keynote {
  background-image: url('../images/smallmouth-bkg.jpg');
}

#walleyeBass-keynote {
  background-image: url('../images/walleyeBass-bkg.jpg');
}

#lakeWarming-keynote {
  background-image: url('../images/lakeWarming-bkg.jpg');
}

#futureWarming-keynote {
  background-image: url('../images/futureWarming-bkg.jpg');
}

#futureSuitability-keynote {
  background-image: url('../images/futureSuitability-bkg.jpg');
}

#fishManagement-keynote {
	background-image: url('../images/fishManagement-bkg.jpg');
}

.keynote{
	text-align:center;
	color:#fff;
	font-size:1em;
	padding:10px;
	margin:auto;
	min-height:100px;
	}
	
.keynote h2, .keynote h3{
	font-weight:300;
	}
	
/*List CSS*/
.list{
	min-height:20px;
	padding:15px;
	}

.list h3{
	margin-bottom:10px;
	}
	
.list{
	margin-left:20px;
	list-style:square;
	}
	
.list li{
	margin-bottom:15px;
	font-size:1.2em;
	}
		
/*Section CSS*/

#walleyeDecline{
  overflow:hidden;
  
}

#walleyeDeclineSVGMobile{
  display:block;
}

#walleyeDeclineSVG{
  display:none;
}

#walleyeDecline{
	min-height:10px;
	}

	

	/*Header CSS*/
	#logo{
		width:760px;
		margin:0 auto;
		}
		
	header h3{
		padding-top:0;
		font-size:1.2em;
	}
	.svgSpanner {
	  height: 450px;
	}
	.svgFig {
	  width: 760px;
	}
		
	/*Keynote CSS*/	
	#welcome-keynote {
		height:100%;
		background-attachment:fixed;
		}

	#walleyeDecline-keynote,
	#walleyeBass-keynote,
	#lakeWarming-keynote,
	#futureWarming-keynote,
	#futureSuitability-keynote,
	#fishManagement-keynote{
		height:100%;
		background-attachment:fixed;
		}
		
	.keynote{
		font-size:2.0em;
		height:100px;
		position:absolute;
		top:0; bottom:0; right:0; left:0;
	}
	
	/*List CSS*/
	.list{
		width:730px;
		margin:0 auto;
	}
	
	.list li{
	  font-size:1.5em;
	}
		
}

#footer p {
  font-size:0.85em;
  font-weight: 300;
}
@media screen and (min-width:1024px){
  
  .captionContainer,
  .insetPictureContainer{
    width:960px;
  }

	/*Header CSS*/
	#logo{
		width:960px;
		}
		
	/*List CSS*/
	.list{
		width:960px;
	}
	
.svgFig {
  	width: 1000px;
  }
  .svgSpanner {
	  height: 720px;
	  position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
	}
}