<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{>brandcomment}}


  <!-- ############### VIEWPORT META TAG ############### -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <!-- ################################################# -->
  {{#info}}
    {{>semantics}}
  {{/info}}
  <title>{{ info.name }}</title>
  {{#resources }}
    {{{ . }}}
  {{/resources }}
  <noscript>Javascript is not enabled</noscript>
  <script type="application/javascript" src="https://www2.usgs.gov/scripts/analytics/usgs-analytics.js"></script>
  {{#info}}
    {{#analytics-id}}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{.}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
  
    gtag('config', {{.}});
  </script>
    {{/analytics-id}}
  {{/info}}
</head>
<body>

  {{{ embed }}}

</body>

</html>
