
<div class="footerContentAligner">

    <div id="vizlabPromo">
      <p>This interactive data visualization was created by 
      <a href="https://owi.usgs.gov/vizlab/" target="_blank">
        <strong>USGS VIZLAB</strong></p>
      	<img src="images/atom.svg" alt="Vizlab Atom">
    	</a>
    </div>
    
    <div id="github-contact">
      <a class="hotfix" href="#" target="_blank" onclick="ga('send', 'event', 'outbound', 'clicked on repo')">
        <img src="images/github.svg" alt="github icon">
      	<p>Get the Code</p>
      </a>
      <span>|</span>
      <a href="mailto:vizlab@usgs.gov">
    	  Contact Us
    	</a>
    </div>
    
    <div id="relatedItems">
    
      <div id="relatedVizzies">
        <h3>Related Visualizations:</h3>
        {{#vizzies}}
      		<div class="relatedItem">
      		  <a href="{{url}}" target="_blank">
      		    <div class="footerThumbnail">
      					<img src="{{thumbLoc}}" alt=""/>
      				</div>
      			  <div class="titleHandler">
      				  <h4>{{name}}</h4>
      				</div>
      			</a>
      		</div>
      		
      	{{/vizzies}}
      </div>
      
      {{#blogsInFooter}}
        <div id="relatedBlogs">
          <h3>Related Blogs:</h3>
        	{{#blogs}}
        		<div class="relatedItem">
        		  <a href="{{url}}" target="_blank">
        				<div class="footerThumbnail blog">
        					<img src="{{thumbLoc}}" alt=""/>
        				</div>
        				<div class="titleHandler">
        					<h4>{{name}}</h4>
        				</div>
        			</a>
        		</div>
        	{{/blogs}}
        </div>
      {{/blogsInFooter}}
      
    </div>
    
</div>

