<div id="vizlabPromo">
	<img src="img/vizlab06.png" alt="Vizlab logo"/>
</div>

<div id="relatedVizzies">
	<h3>Related Visualizations:</h3>
	
	{{#vizzies}}
		<a href="{{url}}" target="_blank">
			<div class="relatedItem">
				<h4>{{name}}</h4>
				<div class="footerThumnail">
					<img src="{{thumbLoc}}" alt=""/>
				</div>
			</div>
		</a>
	{{/vizzies}}
	
</div>

<div id="relatedBlogs">
	<h3>Related Blogs:</h3>
	
	
	{{#blogs}}
		<a href="{{url}}" target="_blank">
			<div class="relatedItem">
				<div class="blogTitle">
					<h4>{{name}}</h4>
				</div>
				<div class="footerThumnail blog">
					<img src="{{thumbLoc}}" alt=""/>
				</div>
			</div>
		</a>
	{{/blogs}}
	
</div>
