
<div class="footerContentAligner">

    <div id="vizlabPromo">
      <p>This interactive data visualization was created by
      <a href="https://owi.usgs.gov/vizlab/" target="_blank">
        <strong>USGS VIZLAB</strong></p>
      	<img src="images/atom.svg" alt="atom icon"/>
    	</a>
    </div>

    <div id="github-contact">
      <a class="githublink" href="{{ github-url }}" target="_blank" onclick="gtag('event','outbound', 'clicked on repo')">
        <img src="images/github.svg" alt="github icon"/>
      	<p>Get the Code</p>
      </a>
      <span>|</span>
      <a href="mailto:vizlab@usgs.gov">
    	  Contact Us
    	</a>
    	<span>|</span>
      <a href="https://www.usgs.gov/" target="_blank" onclick="gtag('event','outbound', 'clicked on USGS.gov')">
    	  U.S. Geological Survey
    	</a> 
    </div>

    <div id="relatedItems">

      <div id="relatedVizzies">
        <a class="relatedItemsTitle">Related Visualizations:</a>
        <div class="relatedItemContainer">
          {{#vizzies}}
        		<div class="relatedItem">
        		  <a href="{{url}}" target="_blank" onclick="gtag('event','outbound', 'clicked on related vizzy')">
        		    <div class="footerThumbnail">
        					<img src="{{thumbLoc}}" alt=""/>
        				</div>
        			  <div class="titleHandler">
        				  <a class="relatedItemCaption">{{name}}</a>
        				</div>
        			</a>
        		</div>
        	{{/vizzies}}
      	</div>
      </div>

      {{#blogsInFooter}}
        <div id="relatedBlogs">
          <h3>Related Blogs:</h3>
          <div class="relatedItemContainer">
          	{{#blogs}}
          		<div class="relatedItem">
          		  <a href="{{url}}" target="_blank" onclick="gtag('event','outbound', 'clicked on related blog')">
          				<div class="footerThumbnail blog">
          					<img src="{{thumbLoc}}" alt=""/>
          				</div>
          				<div class="titleHandler">
          					<h4>{{name}}</h4>
          				</div>
          			</a>
          		</div>
          	{{/blogs}}
        	</div>
        </div>
      {{/blogsInFooter}}

    </div>

</div>

