<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{>brandcomment}}


  <!-- ############### VIEWPORT META TAG ############### -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <!-- ################################################# -->
  {{#info}}
    {{>semantics}}
        {{#analytics-id}}
    <script type="application/javascript" async src="https://www2.usgs.gov/scripts/analytics/usgs-analytics.js"></script>
   
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      function getTimestamp() {return new Date().getTime().toString()}
      function getSessionId() {return new Date().getTime() + '.' + Math.random().toString(36).substring(5)}
      var sessionId = getSessionId();
      var timestamp = getTimestamp();
      gtag('config', '{{ . }}', {
        'custom_map': {
          'dimension1': 'clientId',
          'dimension2': 'sessionId',
          'dimension3': 'timestamp' 
        },
        'sessionId': sessionId,
        'timestamp': timestamp
      });
    </script>
    {{/analytics-id}}
  {{/info}}
  <title>{{ info.name }}</title>
  {{#resources }}
    {{{ . }}}
  {{/resources }}
  <noscript>Javascript is not enabled</noscript>

</head>
<body>

{{#header}}
  {{{header}}}
{{/header}}

{{#sections }}
  {{{ . }}}
{{/sections }}
{{#footer}}
  <footer>
    {{{footer}}}
  </footer>
{{/footer}}

</body>

</html>

