<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- ############### VIEWPORT META TAG ############### -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <!-- ################################################# -->

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ url }}" />
  <meta property="og:image:url" content="{{ thumbnail.url }}" />
  <meta property="og:image:height" content="{{ thumbnail.height }}" />
  <meta property="og:image:width" content="{{ thumbnail.width }}" />
  <meta property="og:image:type" content="{{ thumbnail.type }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:locale" content="en_US" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="{{ twitter }}" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="{{ thumbnail.url }}" />
  <meta name="twitter:image:alt" content="{{ thumbnail.alt }}" />


<title>{{ title }}</title>
<!-- How do we want to declare the font to replace this -->
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
{{#resources }}
  {{{ . }}}
{{/resources }}
</head>
<body>

{{#sections }}
  {{{ . }}}
{{/sections }}

</body>
</html>
