<div id="{{id}}">
  <div id="logo">
    <a href="https://www.usgs.gov/" target="_blank" onclick="gtag('event','outbound', 'clicked on USGS.gov')">
    	  {{{usgsLogo}}}
    </a> 
  	
  	<h3>{{ title }}</h3>
  </div>
</div>