<div id="socialHolder">
  <a href={{githubLink}} target="_blank">
    <div class="socialMediaOption github">
      <img src="images/github.svg" alt="github social icon"/>
    </div>
  </a>
  <a href={{twitterLink}} target="_blank">
    <div class="socialMediaOption twitter">
      <img src="images/twitter.svg" alt="twitter icon"/>
    </div>
  </a>
  <a href={{facebookLink}} target="_blank">
    <div class="socialMediaOption facebook">
      <img src="images/facebook.svg" alt="facebook icon"/>
    </div>
  </a>
  {{#mainEmbed}}
  <a href={{embedLink}} target="_blank">
    <div class="socialMediaOption embed">
      <img src="images/blackEmbed.svg" alt="embed icon"/>
    </div>
  </a>  
  {{/mainEmbed}}
</div>