<div id="socialHolder">
  <div class="socialMediaOption github">
    <img src="images/github.svg" alt="github social icon"/>
  </div>
  <div class="socialMediaOption twitter">
    <img src="images/twitter.svg" alt="twitter icon"/>
  </div>
  <div class="socialMediaOption facebook">
    <img src="images/facebook.svg" alt="facebook icon"/>
  </div>
</div>