<div class="socialHolder">
  <div class="socialMediaOption" id="github">
    <div class="socialMediaImage">
      <a href="{{ githubLink }}" target="_blank">
        {{{github-logo}}}
      </a>
    </div>
  </div>
  <div class="socialMediaOption" id="twitter">
    <div class="socialMediaImage">
      <a href="{{ twitterLink }}" target="_blank">
        {{{twitter-logo}}}
      </a>
    </div>
  </div>
  <div class="socialMediaOption" id="facebook">
    <div class="socialMediaImage">
      <a href="{{ facebookLink }}" target="_blank">
        {{{facebook-logo}}}
      </a>
    </div>
  </div>
  {{#mainEmbed}}
  <div class="socialMediaOption" id="embed">
    <div class="socialMediaImage">
      <a href="{{ embedLink }}" target="_blank">
        {{{embed-logo}}}
      </a>
    </div>
  </div>
  {{/mainEmbed}}
</div>
