const webpack = require("webpack");

module.exports = {
    entry: './src/{{input}}',
    output: {
        filename: './{{output}}'
    },
    plugins: [
      new webpack.ProvidePlugin({
          d3: 'd3'
      })
    ]
};
