<nav><!-- navstart -->

    <div class="navContent">
    
        <div id="menu">
            Menu
        </div>

        <ul id="navigation">
            <a id="people" href="https://owi.usgs.gov/people/"><li>People</li></a>
            <a href="https://owi.usgs.gov/products/"><li>Products</li></a>
            <a href="https://owi.usgs.gov/partners/"><li>Partners</li></a>
            <a href="https://owi.usgs.gov/datascience/"><li>Data Science</li></a>
            <a class="current" href="https://owi.usgs.gov/vizlab/"><li>Vizlab</li></a>
            <a href="https://owi.usgs.gov/careers/"><li>Careers</li></a>
            <a href="https://owi.usgs.gov/blog"><li>Blog</li></a>
        </ul>

    </div>

</nav><!-- navend -->
