<!-- BEGIN USGS Header Template --> 
<div id="usgscolorband">
  <div id="usgsheader">
    <div id="usgsidentifier">
		  <a href="http://www.usgs.gov/" target="_blank">{{{logo}}}</a>
		</div><!--usgsidentifier-->
		{{{banner}}}
		<div id="usgsccsabox">
		  <div id="usgsccsa">
			  <a href="http://www.usgs.gov/">USGS Home</a>
				  <br /><a href="http://answers.usgs.gov/cgi-bin/gsanswers?tmplt=2">Contact USGS</a>
					<br /><a href="http://search.usgs.gov/">Search USGS</a>
					<br />
			</div><!--usgsccsa-->
		</div><!--usgsccsabox-->
	</div><!--usgsheader-->
</div><!--colorband-->
<!-- END USGS Header Template -->
