<!-- BEGIN USGS Footer Template -->
       
        <div id="usgsfooter">
        
        	<p id="usgsfooterbar">
                <a href="http://www.usgs.gov/laws/accessibility.html" title="Accessibility Policy (Section 508)" target="_blank">Accessibility</a>
                <a href="http://www.usgs.gov/foia/" title="Freedom of Information Act" target="_blank">FOIA</a>
                <a href="http://www.usgs.gov/laws/privacy.html" title="Privacy policies of the U.S. Geological Survey." target="_blank">Privacy</a>
                <a href="http://www.usgs.gov/laws/policies_notices.html" title="Policies and notices that govern information posted on USGS Web sites." target="_blank">Policies and Notices</a>
                
			</p><!--usgsfooterbar-->
    
    
		<p id="usgsfootertext">
        
    		<a href="http://www.usa.gov/" alt="USA.gov logo" title="USAGov: Government Made Easy" width="90" height="26" target="_blank">
    		  {{{logo}}}
    		</a>
            
    		<a href="http://www.doi.gov/" target="_blank">U.S. Department of the Interior</a> |
            
			<a href="http://www.usgs.gov/" target="_blank">U.S. Geological Survey</a> |
            
			<a href="http://www.doioig.gov/" target="_blank">DOI Inspector General</a>
    
    		<p style="margin: 5px 0 5px 0; padding-left: 5px;">URL: http://owi.usgs.gov/Vizlab/</p>
            
            <p style="margin: 5px 0 5px 0; padding-left: 5px;">Contact Information: <a href="mailto:gs-w_r_admin@usgs.gov?Subject=USGS-R%20Website" target="_top">vizlab@usgs.gov</a></p>
    
    		<p style="margin: 5px 0 5px 0; padding-left: 5px;">Page last modified: 11/28/2016</p>
    
    	</p><!--usgsfootertext-->

</div><!--usgsfooter-->

<!-- END USGS Footer Template -->
