<div class="container">
  <div class="visualizationsContainer">
    <a href="{{path}}" target="_blank">
    	<div class="vizzy">
    		<div class="thumbnail">
    			<img src="{{thumbnail}}" alt="{{alttext}}"/>
    		</div>
    	</div>
    </a>
    <div class="description">
    	<h4>{{name}}</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere laoreet ligula.</p>
    </div>
  </div>
</div>
