
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}


.viz-text a{
  color:#003366;
  font-weight:bold;
  text-decoration:none;
}

.viz-text a:hover{
  text-decoration:underline;
}

.viz-text{
  padding:0 10px;
  margin-top:20px;
}

.viz-text h2{
  margin:0 0 5px 0;
}

.viz-text p{
  line-height:1.5em;
}


/*IE SVG Width Fix*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .main-svg svg{
      width:100%;
      height:600px;
    }
    
    .secondary-svg{
      height:400px;
    }

}

@media screen and (min-width: 1024px){
  .main-svg,
  .viz-text{
    width:960px;
  }
  
  .main-svg{
    margin:0 auto;
  }
  
  .viz-text{
    margin:20px auto 0 auto;
  }
  
}