#header{
	background:rgb(0,51,102);
	color:#fff;
	height:auto;
	padding:8px  0 0 10px;
	border-bottom:5px solid rgb(210,210,210);
	font-family:"Source Sans Pro", sans-serif;
	}
	
#header p {
  font-size:1.2em;
  line-height:1.5em;
}

#header h1{
	padding-top:0px;
	font-size:1.2em;
	font-weight:400;
	}
	
#header img{
	float:left;
	margin-right:5px;
	width:80px;
	}
	
